body{
    font-family:'Ubuntu',sans-serif ;
}
.header{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right:15px ;
    padding-top: 30px;
    font-weight: 700;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo-img{
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(img/mamon-logo.svg);
    margin-right: 20px;
}
.logo-text{
    color: #202020;
    font-size: 25px;
}
.nav{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
}
.nav li{
    margin-left: 20px;
}
.nav li a {
    text-decoration: none;
    color: #202020;
}
.nav-btn{
    background-color: #5529ff;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
    border: none;
    font-weight: 700;
}
.page{
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
}
.wrap{
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.title-main{
    font-size: 54px;
    color:#202020;
    font-weight: 700;
}
.text-main{
    font-size: 32px;
}
.text-main{
    font-size: 32px;
    line-height:1.5;
    color: #4f4f4f;
}
.button{
    background-color: #5529ff;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
    border: none;
    font-size: 24px;
}
.page-top{
    border-top: 1px solid #c2c2c2;
} 
 .page h2{
    top: -28px;
    position: absolute;
    font-size: 15px;
    font-weight: 300;
    background-color: white;
    color: #c2c2c2; 
    padding: 5px 15px;
 }
.services{
    display: grid;
    grid-template: 50% 50% / 50% 50%;
}
.services-item{
    display: flex;
    align-items: center;
}
.services-img{
    flex-basis: 150px;
    margin-bottom: 45px;
    margin-right: 35px;
    text-align: center;
}
.services-text{
    flex-basis: 100%;
}
.services h3{
    font-size: 28px;
    font-weight: 500;
}
.services p{
    font-size: 17px;
    color: #b2b2b2;
    line-height: 1.8;
}
.clients{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    justify-items: center;
}
.team{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}
.team-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.team-item img{
    margin-right: 20px;
    border-radius: 50px;
}
.team-item h3{
    font-size: 28px;
    color: #202020;
}
.team-item p{
    font-size: 16px;
}
.team-item img{
    margin-right: 20px;
    background-repeat: 50px;
}
.team-item h3{
    font-size: 23px;
    color: #202020;
}
.team-item p{
    font-size: 16px;
    color: #b2b2b2;
    margin-bottom: 0;
}
.footer{
    background-color: #f7f7f7;
}
.box-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tema{
    list-style: none;
    padding-left: 0;
    display: flex;
}
.tema li{
    margin-right: 45px;
}


